APP_BASE_URL=http://localhost:8080
APP_PORT=8080
FRONTEND_BASE_URL=http://localhost:5173

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=ecommerce_app
DB_SSLMODE=disable

JWT_SECRET=5EoKQN6Uympo35AKE5mHjl3OfgG5YueP36ImjUVNlAw=

REDIS_HOST=redis
REDIS_PORT=6379

MAILPIT_WEB_PORT=8025
MAILPIT_SMTP_PORT=1025